---
---

@import "{{ site.theme }}";

.wrapper {
  width:1100px;
}
section {
  width:825px;
  float:right;
  padding-bottom:50px;
}

a {
  color:#009292;
  font-weight:200;
  text-decoration:none;
}

header li {
        list-style-type: none;
  width:132px;
  height:15px;
        margin-bottom: 12px;
        line-height: 1em;
        padding: 6px 6px 6px 7px;

        background: #00AF9E;
        background: -moz-linear-gradient(top, #00AF9E 0%, #008271 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #00AF9E 0%,#008271 100%);
  background: -o-linear-gradient(top, #00AF9E 0%,#008271 100%);
  background: -ms-linear-gradient(top, #00AF9E 0%,#008271 100%);
  background: linear-gradient(to top, #00AF9E 0%,#008271 100%);

        border-radius:4px;
  border:1px solid #0D0D0D;

        -webkit-box-shadow: inset 0px 1px 1px 0 rgba(51, 204, 255, 1);
        box-shadow: inset 0px 1px 1px 0 rgba(51, 204, 255, 1);

}

header li:hover {
        background: #00C3A6;
        background: -moz-linear-gradient(top, #00C3A6 0%, #01957D 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #00C3A6 0%,#01957D 100%);
  background: -o-linear-gradient(top, #00C3A6 0%,#01957D 100%);
  background: -ms-linear-gradient(top, #00C3A6 0%,#01957D 100%);
  background: linear-gradient(to top, #00C3A6 0%,#01957D 100%);
}

table {
  border: 1px solid #FFFFFF;
  margin-bottom: 32px;
  text-align: center;
}

th {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
  padding: 10px;
  background: #EEEEEE;
  color: #000000;
  vertical-align: middle;
 }

td {
  padding: 10px;
  background: #FFFFFF;
  vertical-align: middle;
 }
